html {
    font-family: sans-serif;
    font-size: 15px;
    background-color: antiquewhite;
  }
  
#imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#csdept {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    padding: 10px;
}
  
#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back {
    width: 280px;
    white-space: nowrap;
    border-radius: 10px;
    background-color: rgb(181, 19, 41);
    border: none;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px 5px 5px 5px;
}
  
.back span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.back span:after {
    content: "\00ab";
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}
  
.back:hover span {
    padding-left: 25px;
}
  
.back:hover span:after {
    opacity: 1;
    left: 0;
}
  
h1,
h2 {
    text-align: center;
}
td, th {
    border: 1px solid #ec8787;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #ec8787;
}

.column {
    float: left;
  }
  
  .left {
    text-align: center;
    width: 50%;
  }
  
  .right {
    text-align: center;
    width: 50%;
  }