html {
  font-family: sans-serif;
  font-size: 15px;
  background-color: antiquewhite;
}

#imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

h1,
h2,
h4 {
  text-align: center;
}

#csdept {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 95%;
  text-align: center;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  display: block;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* The sidebar menu */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(181, 19, 41);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* The sidebar menu */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(181, 19, 41);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar h1 {
  margin-left: 20px;
  text-align: left;
}

/* The sidebar links */
.sidebar button {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  transition: 0.3s;
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.sidebar button:hover {
  color: yellow;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#mainContainer {
  margin: auto;
  position: relative;
  transition: margin-left .5s;
  padding: 20px;
}

#csdept {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  padding: 10px;
}